body {
    background: linear-gradient(45deg,  black, white);
    background-size: 400% 400%;
    animation: gradient-shift 8s ease infinite;
}

.header {
    color: black;
    background: radial-gradient(circle, white, black);
    padding: 10px;
    border: 5px solid whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav a {
    color: black;
    background-color: white;
    padding: 5px;
    border: 3px solid white;
    border-radius: 10px;
    position: relative;
    top: 0px;
    transition: 500ms;
    text-decoration: none;
}

.nav a:hover{
    border: 3px solid black;
    background-color: black;
    top: -5px;
    color: white;
}

#Next {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: fit-content;
    color: black;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    border: 3px solid white;
    transition: 500ms;
    top: 815px;
}

#Next:hover{
    border: 3px solid black;
    background-color: White;
    top: 810px;
}

h2 {
     color: white;
    background-color: black;
    padding: 10px;
    border: 5px solid whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes gradient-shift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}