body {
    background-color: rgb(177, 205, 230);
}

.header {
    color: rgb(254, 254, 254);
    background-color: rgb(81, 103, 123);
    padding: 10px;
    border: 5px solid whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav a {
    color: white;
    background-color: rgb(81, 103, 123);
    padding: 5px;
    border: 3px solid rgb(81, 103, 123);
    border-radius: 10px;
    position: relative;
    top: 0px;
    transition: 500ms;
    text-decoration: none;
}

.nav a:hover{
    border: 3px solid rgb(94, 146, 192);
    background-color: rgb(94, 146, 192);
    top: -5px;
}

#Next {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: fit-content;
    color: black;
    background-color: rgb(177, 205, 230);
    border-radius: 5px;
    text-decoration: none;
    border: 3px solid rgb(177, 205, 230);
    transition: 500ms;
    top: 815px;
}

#Next:hover{
    border: 3px solid black;
    background-color: White;
    top: 810px;
}

h2 {
     color: rgb(254, 254, 254);
    background-color: rgb(81, 103, 123);
    padding: 10px;
    border: 5px solid whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}