body {
    background-color: rgb(177, 205, 230);
}

.header {
    color: rgb(254, 254, 254);
    background-color: rgb(81, 103, 123);
    padding: 10px;
    border: 5px solid whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Reasons-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 1300px;
}

.nav a {
    color: white;
    background-color: rgb(81, 103, 123);
    padding: 5px;
    border: 3px solid rgb(81, 103, 123);
    border-radius: 10px;
    position: relative;
    top: 0px;
    transition: 500ms;
    text-decoration: none;
}

.nav a:hover{
    border: 3px solid rgb(94, 146, 192);
    background-color: rgb(94, 146, 192);
    top: -5px;
}

.img1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 1000px;
    margin-top: -400px;
}