body {
    background: linear-gradient(45deg,  black, white);
    background-size: 400% 400%;
    animation: gradient-shift 10s ease infinite;
}



.header {
    color: black;
    background: radial-gradient(circle, white, black);
    padding: 10px;
    border: 5px solid whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main{
    height: 100vh;
}

.Reasons-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 1300px;
}

.nav a {
    color: black;
    background-color:  white;
    padding: 5px;
    border: 3px solid white;
    border-radius: 10px;
    position: relative;
    top: 0px;
    transition: 500ms;
    text-decoration: none;
}

.nav a:hover{
    border: 3px solid black;
    background-color: black;
    top: -5px;
    color: white;
}

.img1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 750px;
    margin-top: -450px;
    background-color: black;
    padding: 20px;
    border: 5px solid white;
    border-radius: 25px;
}

 .Reasons-list h2 {
    background-color: black;
    padding: 20px;
    color: white;
    border: 5px solid white;
    border-radius: 20px;
 }

 .footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    width: auto;
    border: 5px solid white;
}

@keyframes gradient-shift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}