body {
    background-color: rgb(177, 205, 230);
}

.header {
    color: rgb(254, 254, 254);
    background-color: rgb(81, 103, 123);
    padding: 5px;
    border: 5px solid whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Reasons-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 1300px;
}